body{
    font-family: 'Comfortaa', cursive;
    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background: url("resources/fondo frutas.jpg") no-repeat fixed center;
    background-size: cover;
}

.nav-frutas{

    -webkit-box-shadow: 0 0 6px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 6px -1px rgba(0,0,0,0.75);
    box-shadow: 0 0 6px -1px rgba(0,0,0,0.75);
}

.dir_tarjeta{
    align-content: center;
}

.posicion_tarjeta{
    margin-top: 5px;
    width: auto;
    height: auto;

}

.contenido_tarjeta_1{
    background-color: #35de46;
    width: 350px;
    min-height: 400px;
    height: auto;

    position: sticky;

    -webkit-box-shadow: 0 0 6px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 6px -1px rgba(0,0,0,0.75);
    box-shadow: 0 0 6px -1px rgba(0,0,0,0.75);
}

.contenido_tarjeta_2{
    background-color: #F2F2EE;
    min-height: 700px;
    width: 1350px;
    height: auto;

    -webkit-box-shadow: 0 0 6px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 6px -1px rgba(0,0,0,0.75);
    box-shadow: 0 0 6px -1px rgba(0,0,0,0.75);
}

.background-main{
    background: linear-gradient(#e66465, #9198e5);

    color: #00203e;

    -webkit-box-shadow: 0 0 6px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 6px -1px rgba(0,0,0,0.75);
    box-shadow: 0 0 6px -1px rgba(0,0,0,0.75);
}

.title-maps{
    text-shadow: 1px 1px 2px #ffffff, 0 0 1em #e39f8e, 0 0 0.2em #efac8d;
    color: #180303;
    margin-top: 5%;
}

.btn-ruta{

}
@media  only screen and (max-width:320px) {
    .contenido_tarjeta_1{
        width: 260px;
        min-height: 200px;
        margin-bottom: 15px;
        text-align: center;

    }
    .contenido_tarjeta_2{
        width: 260px;
        min-height: 450px;
        text-align: center;
    }
    .text-card-resp{
        font-size: small;
    }
    .title-map-resp{
        font-size: xx-large;
        padding: 10px;
    }
}
@media  only screen and (min-width:321px) and (max-width:360px) {
    .contenido_tarjeta_1{
        width: 300px;
        min-height: 200px;
        margin-bottom: 15px;
        text-align: center;

    }
    .contenido_tarjeta_2{
        width: 300px;
        min-height: 450px;
        text-align: center;
    }
    .text-card-resp{
        font-size: small;
    }
    .title-map-resp{
        font-size: xx-large;
        padding: 10px;
    }
}
@media  only screen and (min-width:361px) and (max-width:375px) {
    .contenido_tarjeta_1{
        width: 315px;
        min-height: 200px;
        margin-bottom: 15px;
        text-align: center;

    }
    .contenido_tarjeta_2{
        width: 315px;
        min-height: 450px;
        text-align: center;
    }
    .text-card-resp{
        font-size: small;
    }
    .title-map-resp{
        font-size: xx-large;
        padding: 10px;
    }
}

@media  only screen and (min-width:376px) and (max-width:414px) {
    .contenido_tarjeta_1{
        width: 350px;
        min-height: 200px;
        margin-bottom: 15px;
        text-align: center;

    }
    .contenido_tarjeta_2{
        width: 350px;
        min-height: 550px;
        text-align: center;
    }
    .text-card-resp{
        font-size: small;
    }
    .title-map-resp{
        font-size: xx-large;
        padding: 10px;
    }
}

@media  only screen and (min-width:415px) and (max-width:540px) {
    .contenido_tarjeta_1{
        width: 480px;
        min-height: 200px;
        margin-bottom: 15px;
        text-align: center;

    }
    .contenido_tarjeta_2{
        width: 480px;
        min-height: 600px;
        text-align: center;
    }
    .text-card-resp{
        font-size: small;
    }
}
@media  only screen and (min-width:541px) and (max-width:768px) {
    .contenido_tarjeta_1{
        width: 600px;
        min-height: 200px;
        margin-bottom: 15px;
        text-align: center;
    }
    .contenido_tarjeta_2{
        width: 600px;
        min-height: 950px;
        text-align: center;
    }
    .text-card-resp{
        font-size: small;
    }
}
@media only screen and (min-width:769px) and (max-width:1024px) {
    .contenido_tarjeta_1{
        width: 850px;
        min-height: 200px;
        margin-bottom: 15px;
        text-align: center;
    }
    .contenido_tarjeta_2{
        width: 850px;
        min-height: 850px;
        text-align: center;
    }
    .text-card-resp{
        font-size: small;
    }
}
@media only screen and (min-width:1025px) and (max-width:1280px) and (max-height: 720px) {
    .contenido_tarjeta_1{
        width: 240px;
        min-height: 400px;
        text-align: center;
    }
    .contenido_tarjeta_2{
        width: 840px;
        min-height: 400px;
        text-align: center;
    }
    .text-card-resp{
        font-size: small;
    }
}
@media only screen and (min-width:1025px) and (max-width:1280px) and (min-height: 721px) and (max-height: 1024px) {
    .contenido_tarjeta_1{
        width: 240px;
        min-height: 400px;
    }
    .contenido_tarjeta_2{
        width: 840px;
        min-height: 700px;
    }

}
@media  only screen and (min-width:1281px) and (max-width:1366px) {

    .contenido_tarjeta_1{
        width: 250px;
        min-height: 300px;
    }
    .contenido_tarjeta_2{
        width: 900px;
        min-height: 470px;
    }
    .text-card-resp{
        font-size: small;
    }

}
@media  only screen and (min-width:1438px) and (max-width:1440px) {

    .contenido_tarjeta_1{
        width: 300px;
        min-height: 300px;
    }
    .contenido_tarjeta_2{
        width: 950px;
        min-height: 600px;
    }

}
@media  only screen and (min-width:1441px) and (max-width:1536px) {

    .contenido_tarjeta_1{
        width: 300px;
        min-height: 300px;
    }
    .contenido_tarjeta_2{
        width: 950px;
        min-height: 600px;
    }

}
@media  only screen and (min-width:1537px) and (max-width:1600px) {

    .contenido_tarjeta_1{
        width: 350px;
        min-height: 310px;
    }
    .contenido_tarjeta_2{
        width: 1050px;
        min-height: 580px;
    }

}
@media  only screen and (min-width:1601px) and (max-width:1680px) {

    .contenido_tarjeta_1{
        width: 350px;
        min-height: 400px;
    }
    .contenido_tarjeta_2{
        width: 1100px;
        min-height: 720px;
    }

}